{{ define "content" }}

<form role="form" action="/note/update" method="put">
    <div class="lead">Edit the note with the following date</div>
    <div class="form-group">
        <label for="date">Date</label>
      <textarea class="form-control" name="date" id="date" rows="1" required>{{ .DisplayDate }}</textarea><br/>
      <textarea class="form-control" name="yesterday" id="yesterday" placeholder="Yesterday I..." rows="4" required>{{ .Yesterday }}</textarea><br/>
      <textarea class="form-control" name="today" id="today" placeholder="Today I will" rows="2" required>{{ .Today }}</textarea><br/>
      <textarea class="form-control" name="gobacks" id="gobacks" placeholder="My go back is..." rows="2" required>{{ .GoBacks }}</textarea><br/>
      <textarea class="form-control" name="impediments" id="impediments" placeholder="My impediments are..." rows="2" required>{{ .Impediments }}</textarea>
      <br/>
      <br/>
      <button class="btn btn-lg btn-dark" type="submit">Save Updates</button>
    </div>
  </form>

{{ end }}