{{ define "content" }}
  <div class="d-inline-flex flex-column">
    <card class="card my-2 mx-2">
      <div class="card-body">
        <h4 class="card-title">About Me</h4>
        <p class="card-text">I am a developer with a love for web technologies and a long history with .NET desktop application development. When I'm not solving problems or writing awesome applications, I enjoy spending time with my wife and children, taking care of my lawn, and watching YouTube videos.</p>
      </div>
    </card>

    <card class="card my-2 mx-2">
      <div class="card-body">
        <h4 class="card-title">.NET Development</h4>
        <p class="card-text">C# & VB.NET experience using WPF, .NET Framework 4.x and .NET Core 3.x</p>
        <a class="btn btn-sm btn-dark" href="https://github.com/dkruggel">Github</a>
        <a class="btn btn-sm btn-dark" href="https://www.linkedin.com/in/david-kruggel-ba56aa1b/">LinkedIn</a>
        <a class="btn btn-sm btn-dark" href="mailto:davidkruggel@gmail.com">CONTACT ME!</a>
      </div>
    </card>
  
    <card class="card my-2 mx-2">
      <div class="card-body">
        <h4 class="card-title">Web Development</h4>
        <p class="card-text">HTML5, CSS3, JS, React, Material UI, Bootstrap, React Bootstrap</p>
        <a class="btn btn-sm btn-dark" href="https://github.com/dkruggel">Github</a>
        <a class="btn btn-sm btn-dark" href="https://www.linkedin.com/in/david-kruggel-ba56aa1b/">LinkedIn</a>
        <a class="btn btn-sm btn-dark" href="mailto:davidkruggel@gmail.com">CONTACT ME!</a>
      </div>
    </card>
  </div>
{{ end }}