{{ define "navbar" }}
<div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa fa-comments-o"></i>
      David Kruggel
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{ end }}